@mixin riskBackgroundStyle {
  &.highest {
    background-color: #9b0000;
  }
  &.high {
    background-color: #ff3701;
  }
  &.higher {
    background-color: #ee8911;
  }
  &.general {
    background-color: #eedc11;
  }
  &.low {
    background-color: #a0d911;
  }
}

@mixin riskColorStyle {
  &.high {
    color: #ff3701;
  }
  &.higher {
    color: #ee8911;
  }
  &.general {
    color: #eedc11;
  }
  &.low {
    color: #a0d911;
  }
}

/* 定义动画 */
@keyframes borderGlow {
  0% {
    box-shadow: inset 0 0 5px #0000ff; /* 变换到蓝色 */
  }
  25% {
    box-shadow: inset 0 0 5px #ffff00; /* 变换到黄色 */
  }
  50% {
    box-shadow: inset 0 0 5px #ff0000; /* 回到红色，形成循环 */
  }
  75% {
    box-shadow: inset 0 0 5px #00ff00; /* 变换到绿色 */
  }
  100% {
    box-shadow: inset 0 0 5px #0000ff; /* 变换到蓝色 */
  }
}

.borderGlow {
  animation: borderGlow 6.5s ease-in-out infinite;
}

.default-btn {
  color: #02061a;
  background-color: #24b8f2;
  border: none;
  border-radius: 10px 10px 10px 10px;
  font-weight: bold;
  &[size='small'] {
    font-size: 14px;
    padding: 5px 30px;
    line-height: 19px;
  }
  &[size='middle'] {
    font-size: 20px;
    line-height: 26px;
    padding: 5px 22px;
  }
  &:hover {
    color: #fff;
    background-color: lighten(#24b8f2, 10%);
  }
}
.text-btn {
  color: #00ffff;
  cursor: pointer;
}

.card {
  background: linear-gradient(180deg, rgba(6, 97, 159, 0.2) 0%, rgba(7, 23, 61, 0.76) 100%);
  border-radius: 10px 10px 10px 10px;
  border: 2px solid #0391d3;
  width: 320px;
  padding: 10px 20px;
  cursor: default;
  @extend .borderGlow;
}
